epds/src/main/resources/wsdl_11282018/TCSOnlineService_xsd5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://fms.treas.gov/services/tcsonline" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cns="http://fms.treas.gov/services/common" version="1.0" targetNamespace="http://fms.treas.gov/services/tcsonline">

    
<!-- VERSION: 2.0 02/06/2014 -->

    
<xs:import namespace="http://fms.treas.gov/services/common"
           schemaLocation="TCSOnlineService_xsd3.xsd"/>

    
<xs:element name="TCSServiceFault" type="tns:TCSServiceFault"/>

    
<xs:element name="startOnlineCollection" type="tns:StartOnlineCollection"/>

    
<xs:element name="startOnlineCollectionResponse" type="tns:StartOnlineCollectionResponseType"/>

    
<xs:element name="completeOnlineCollection" type="tns:CompleteOnlineCollection"/>
    
<xs:element name="completeOnlineCollectionResponse" type="tns:CompleteOnlineCollectionResponseType"/>

    
<xs:element name="completeOnlineCollectionWithDetails" type="tns:CompleteOnlineCollectionWithDetails"/>
    
<xs:element name="completeOnlineCollectionWithDetailsResponse" type="tns:CompleteOnlineCollectionWithDetailsResponseType"/>

    
<xs:element name="createForce" type="tns:CreateForce"/>
    
<xs:element name="createForceResponse" type="tns:CreateForceResponseType"/>

    
<xs:element name="createForceWithDetails" type="tns:CreateForceWithDetails"/>
    
<xs:element name="createForceWithDetailsResponse" type="tns:CreateForceWithDetailsResponseType"/>


    
<xs:element name="getDetails" type="tns:GetDetails"/>

    
<xs:element name="getDetailsResponse" type="tns:GetDetailsResponseType"/>

    
<xs:complexType name="StartOnlineCollection">
        
<xs:sequence>
            
<xs:element name="startOnlineCollectionRequest" type="tns:StartOnlineCollectionRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="StartOnlineCollectionRequest">
        
<xs:sequence>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID"/>
            
<xs:element name="transaction_type" type="tns:TransactionType"/>
            
<xs:element name="transaction_amount" type="cns:TCSDollarAmount"/>
            
<xs:element name="language" type="tns:Language"/>
            
<xs:element name="url_success" type="tns:TCSOUrl"/>
            
<xs:element name="url_cancel" type="tns:TCSOUrl"/>
            
<xs:element name="account_holder_name" type="cns:AccountHolderName" minOccurs="0"/>
            
<xs:element name="billing_address" type="cns:BillingAddress" minOccurs="0"/>
            
<xs:element name="billing_address2" type="cns:BillingAddress" minOccurs="0"/>
            
<xs:element name="billing_city" type="cns:BillingCity" minOccurs="0"/>
            
<xs:element name="billing_state" type="cns:BillingState" minOccurs="0"/>
            
<xs:element name="billing_zip" type="cns:BillingZip" minOccurs="0"/>
            
<xs:element name="billing_country" type="cns:TCSCountryCode" minOccurs="0"/>
            
<xs:element name="email_address" type="cns:TCSEmail" minOccurs="0"/>
            
<xs:element name="custom_fields" type="tns:CustomCollectionFields" minOccurs="0"/>
            
<xs:element name="classification" type="tns:classification" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="StartOnlineCollectionResponseType">
        
<xs:sequence>
            
<xs:element name="startOnlineCollectionResponse" type="tns:StartOnlineCollectionResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="StartOnlineCollectionResponse">
        
<xs:sequence>
            
<xs:element name="token" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CustomCollectionFields">
        
<xs:sequence>
            
<xs:element name="custom_field_1" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_2" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_3" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_4" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_5" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_6" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_7" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_8" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_9" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_10" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_11" type="cns:CustomFieldValue" minOccurs="0"/>
            
<xs:element name="custom_field_12" type="cns:CustomFieldValue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="TCSServiceFault">
        
<xs:sequence>
            
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
            
<xs:element name="return_detail" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="classification">
        
<xs:sequence>
            
<xs:element name="classification_data" type="tns:classificationData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="classificationData">
        
<xs:sequence/>
        
<xs:attribute name="classification_id" type="xs:string" use="required"/>
        
<xs:attribute name="amount" type="cns:DollarAmount" use="required"/>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollection">
        
<xs:sequence>
            
<xs:element name="completeOnlineCollectionRequest" type="tns:CompleteOnlineCollectionRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionRequest">
        
<xs:sequence>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:element name="token" type="tns:Token"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionResponseType">
        
<xs:sequence>
            
<xs:element name="completeOnlineCollectionResponse" type="tns:CompleteOnlineCollectionResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionResponse">
        
<xs:sequence>
            
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionWithDetails">
        
<xs:sequence>
            
<xs:element name="completeOnlineCollectionWithDetailsRequest" type="tns:CompleteOnlineCollectionWithDetailsRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionWithDetailsRequest">
        
<xs:sequence>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:element name="token" type="tns:Token"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionWithDetailsResponseType">
        
<xs:sequence>
            
<xs:element name="completeOnlineCollectionWithDetailsResponse" type="tns:CompleteOnlineCollectionWithDetailsResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CompleteOnlineCollectionWithDetailsResponse">
        
<xs:sequence>
            
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id"/>
            
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID"/>
            
<xs:element name="transaction_amount" type="cns:DollarAmount"/>
            
<xs:element name="transaction_type" type="xs:string"/>
            
<xs:element name="transaction_date" type="xs:dateTime"/>
            
<!-- payment_date is only relevant for PC and ACH transactions -->
            
<xs:element name="payment_date" type="xs:date" minOccurs="0"/>
            
<xs:element name="transaction_status" type="xs:string"/>
            
<xs:element name="payment_type" type="tns:PaymentType"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForce">
        
<xs:sequence>
            
<xs:element name="createForceRequest" type="tns:CreateForceRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceRequest">
        
<xs:sequence>
            
<xs:choice>
                
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" minOccurs="0"/>
                
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" minOccurs="0"/>
            </xs:choice>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:element name="transaction_amount" type="cns:DollarAmount"/>
            
<xs:element name="classification" type="tns:classification" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceResponseType">
        
<xs:sequence>
            
<xs:element name="createForceResponse" type="tns:CreateForceResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceResponse">
        
<xs:sequence>
            
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceWithDetails">
        
<xs:sequence>
            
<xs:element name="createForceWithDetailsRequest" type="tns:CreateForceWithDetailsRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceWithDetailsRequest">
        
<xs:sequence>
            
<xs:choice>
                
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" minOccurs="0"/>
                
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" minOccurs="0"/>
            </xs:choice>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:element name="transaction_amount" type="cns:DollarAmount"/>
            
<xs:element name="classification" type="tns:classification" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceWithDetailsResponseType">
        
<xs:sequence>
            
<xs:element name="createForceWithDetailsResponse" type="tns:CreateForceWithDetailsResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="CreateForceWithDetailsResponse">
        
<xs:sequence>
            
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id"/>
            
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID"/>
            
<xs:element name="transaction_amount" type="cns:DollarAmount"/>
            
<xs:element name="transaction_type" type="xs:string"/>
            
<xs:element name="transaction_date" type="xs:dateTime"/>
            
<!-- payment_date is only relevant for PC and ACH transactions -->
            
<xs:element name="payment_date" type="xs:date" minOccurs="0"/>
            
<xs:element name="transaction_status" type="xs:string"/>
            
<xs:element name="payment_type" type="tns:PaymentType"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="GetDetails">
        
<xs:sequence>
            
<xs:element name="getDetailsRequest" type="tns:GetDetailsRequest" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="GetDetailsRequest">
        
<xs:sequence>
            
<xs:element name="tcs_app_id" type="cns:TCSApplicationID"/>
            
<xs:group ref="tns:getDetailsSearchCriteria" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="GetDetailsResponseType">
        
<xs:sequence>
            
<xs:element name="getDetailsResponse" type="tns:GetDetailsResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="GetDetailsResponse">
        
<xs:sequence>
            
<xs:element name="transactions" type="tns:transactions" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="transactions">
        
<xs:sequence>
            
<xs:element name="transaction" type="tns:transactionData" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:complexType name="transactionData">
        
<xs:sequence>
            
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id"/>
            
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID"/>
            
<xs:element name="transaction_amount" type="cns:DollarAmount"/>
            
<xs:element name="transaction_type" type="xs:string"/>
            
<xs:element name="transaction_date" type="xs:dateTime"/>
            
<!-- payment_date is only relevant for PC and ACH transactions -->
            
<xs:element name="payment_date" type="xs:date" minOccurs="0"/>
            
<xs:element name="transaction_status" type="xs:string"/>
            
<xs:element name="payment_type" type="tns:PaymentType"/>
        </xs:sequence>
    </xs:complexType>

    
<xs:simpleType name="PaymentType">
        
<xs:annotation>
            
<xs:documentation>Payment type for the transaction</xs:documentation>
        </xs:annotation>
        
<xs:restriction base="xs:string">
            
<xs:enumeration value="PLASTIC_CARD"/>
            
<xs:enumeration value="ACH"/>
            
<xs:enumeration value="ACH_CREDIT"/>
            
<xs:enumeration value="AMAZON"/>
            
<xs:enumeration value="PAYPAL"/>
            
<xs:enumeration value="DWOLLA"/>
        </xs:restriction>
    </xs:simpleType>

    
<xs:simpleType name="TransactionType">
        
<xs:restriction base="xs:string">
            
<xs:enumeration value="Authorization"/>
            
<xs:enumeration value="Sale"/>
        </xs:restriction>
    </xs:simpleType>

    
<xs:simpleType name="Language">
        
<xs:restriction base="xs:string">
            
<xs:maxLength value="5"/>
            
<xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    
<xs:simpleType name="Token">
        
<xs:restriction base="cns:TCSAlphaNumericPlus">
            
<xs:maxLength value="32"/>
            
<xs:minLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    
<xs:simpleType name="TCSOUrl">
        
<xs:restriction base="xs:anyURI">
            
<xs:minLength value="1"/>
            
<xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>

    
<xs:group name="getDetailsSearchCriteria">
        
<xs:sequence>
            
<xs:choice>
                
<xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" minOccurs="0"/>
                
<xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>

</xs:schema>